<H1>Assignment 1 - Python and Jupyter Introduction</H1>

There are 10 questions in this assignment and all questions are weighted the same.

<H4>Question 0: Example</H4>

This is a sample question and solution. (There is no need for you to do anything here except read.)

Task: Create a list of multiples of 5 from 0 to 100 using two different methods: a for loop with append and a list comprehension statement.

In [ ]:
##Sample Question Cell

mult5=[]
## Add elements to this list to get all multiples of 5 from 0 to 100 
## using a for loop and append statements.
???

## Use list comprehension to create the same list. 
mult_5= ???

mult5==mult_5

In [ ]:
##Sample Answer Cell

mult5=[]
## Add elements to this list to get all multiples of 5 from 0 to 100 
## using a for loop and append statements.
for i in range(21):
    mult5.append(5*i)
print(mult5)

## Use list comprehension to create the same list. 
mult_5= [5*i for i in range(21)]
print(mult_5)

mult5==mult_5

<H4>Question 1: Python Functions</H4>
    
Task: Write a Python function that will read in two strings and return a string which concatenates the two strings with a space in between.

In [4]:
## Question and Function Cell 
def function_one(a,b):
    return a + " " + b #make space between the strings using " "

In [5]:
## Example of function_one
function_one("gamers", "rule")

'gamers rule'

<H4>Question 2: Modification</H4>
    
Task: Adapt the previous function to allow for two or three strings.

In [19]:
## Question and function cell
def function_two(a,b,c = False):
    if (c == False):
        return a + " " + b
    else:
        return a + " " + b + " " + c

In [22]:
## Example of function_two with three strings
function_two("pineapple", "on", "pizza")

'pineapple on pizza'

In [23]:
## Examlple of function_two with two string
function_two("pineapple", "pizza")

'pineapple pizza'

<H4>Question 3: Functions and Lists.</H4>

Write a function to create a list of <it>n</it> Fibonacci numbers where n is an input to the function. 

The Fibonacci seqence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence.  1, 1, 2, 3, 5, 8, 13, ...

In [38]:
def function_three(n):
    if n == 0: # if n equals 0 then a 0 will always be returned 
        return [0]
    elif n == 1:
        return [0, 1] # if n equals 1, then the fist two numbers in our list will always be 0 and 1
    else:
        # create a list for the n-1 case and then append the n-2 cases
        fiblist = function_three(n-1)
        fiblist.append(fiblist[-1] + fiblist[-2])
    return fiblist
    
function_three(12)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

<H4>Question 4: Lists</H4>

Tasks:
<ol>
    <li> Create a new list which contains all the numbers in old_list which are congruent to 0 mod 3 using a list comprehension.
    </li>
<li> 
Use appropriate slicing to print the last three numbers of the original list.
  </li>
<li>
Use appropriate slicing to print the middle five numbers of the original list. 
    </li>
<li>
Print all the numbers from old_list in reverse order.
    </li>
    </ol>

In [1]:
## The starting list.
old_list = [5,9,4,18,22,2,31,42,98,45,29]
## create new list here of numbers in old_list which are congruent to 0 mod 3.
new_list=[int(a) for a in old_list if a%3 == 0]
print("A list of numbers in old_list which are congruent to 0 mod 3: ", new_list)
## print last three
print("The last three numbers of the old list are: ", old_list[-3:])
## print middle five
print("The middle five numbers of the old list are: ", old_list[3:8])
## print in reverse order
print("The reverse old list is: ", old_list[::-1])

A list of numbers in old_list which are congruent to 0 mod 3:  [9, 18, 42, 45]
The last three numbers of the old list are:  [98, 45, 29]
The middle five numbers of the old list are:  [18, 22, 2, 31, 42]
The reverse old list is:  [29, 45, 98, 42, 31, 2, 22, 18, 4, 9, 5]

<H4>Question 5: Dictionaries</H4>
    
Tasks: 
<ol>
<li>Create a birthday dictionary with 5 people and their birthdays. Enter names and dates as strings. Neither the people nor the birthdays need to be real. 
    </li><li>
Add a sixth person and their birthday to the dictionary.
        </li><li> 
Print all names in the dictionary.
   </li><li>
Print all birthdays from the dictionary.
    </li>
  </ol>

In [41]:
## Create a dictionary with 5 names.
birthday={'Sam': '06/19/1998', 'Maya': '02/21/1998', 'Jake': '05/14/1998', 'LeBron': '12/30/1984', 'Kobe': '08/23/1978'}
## Add a 6th name to the dictionary.
birthday['Henry'] = '10/13/1999'
## Print all names in the dictionary.
print(birthday.keys())
## Print all birthdays in the dictionary.
print(birthday.values())

dict_keys(['Sam', 'Maya', 'Jake', 'LeBron', 'Kobe', 'Henry'])
dict_values(['06/19/1998', '02/21/1998', '05/14/1998', '12/30/1984', '08/23/1978', '10/13/1999'])

<H4>Question 6: Lambdas and Maps</H4>

Task: Write a lambda function to double each entry in the list of numbers. Note: the rest of the code will apply this as a map function.

In [19]:
numbers = [1, 9, 3, 2] 
result = map(lambda a: a*2, numbers) 
print(list(result))

[2, 18, 6, 4]

<H4>Question 7: String Map</H4>
    
Task: for the given list1, use the map function to create a list of strings instead of integers with the given value. That is, you should end up with ['10','9',...].

In [52]:
list1 = [10, 9, 5, 7, 3]
print(list(map(str, list1)))

['10', '9', '5', '7', '3']

<H4>Question 8: More Maps</H4>

Tasks: 
<ol>
    <li> Write a function to input a string of two names, first and last, and output just the first name.
    </li><li>
    Use the map function to apply your function to the list [names] below.
    </li>
    </ol>

In [63]:
names=['Max Auerbach','Michael Brookstein','Sam Cribbs', "Noah Delano", "Joseph Macias", 'Anooj Patel', 'John Pease', 'Kimberly Sheldon', 'Sam Silva', 'Tyler Wise', 'Jonathon Zacarias', "Rafael Zasas", "Joanna Bieri", "Tamara Veenstra", "Bongo the Cat", "Bella the Cat","Kika the Cat"]

##Write your function here to input a multiple names and return just the first name.
def your_function(names):
    first = names.split()[0]
    last = names.split()[-1]
    return first
    
##Use map to apply your_function to produce a list of all the first names in the list names.

print(list(map(your_function, names)))

['Max', 'Michael', 'Sam', 'Noah', 'Joseph', 'Anooj', 'John', 'Kimberly', 'Sam', 'Tyler', 'Jonathon', 'Rafael', 'Joanna', 'Tamara', 'Bongo', 'Bella', 'Kika']

<H4>Question 9: Even more maps</H4>

Task: Use the map function to produce a list which contains the sums of the entries of the two lists below. That is, you should get the list [3+5,4+7,5+11,6+13].
You may use either a lambda or a formal function.

In [20]:
num1=[3,4,5,6]
num2=[5,7,11,13]
## Enter your code here 
sum_list = map(lambda a, b: a + b, num1, num2) 
print(list(sum_list))

[8, 11, 16, 19]

<H4>Question 10: The Format Command</H4>
    
Tasks: Use the format command to process the following information in both examples below.

In [67]:
## enter the appropriate commands in format so that the printed sentence includes the first and last number in the list data.
data = [4, 8, 15, 16, 23, 42]
print('The first number is {} and the last number is {}'.format(data[0],data[-1] ))


## Use the information in the dictionary person to construct the following sentence. 
## "The person's first name is Jean-Luc and the person's last name is Picard. 
## His hometown is La Barre, France." The phrases 
##  'Jean-Luc', 'Picard', 'La Barre, France' should be accessed from the dictionary.
person = {'first': 'Jean-Luc', 'last': 'Picard', 'hometown': 'La Barre, France' }
print("The person's first name is {} and the person's last name is {}. His hometown is {}" . format(person['first'], person['last'], person['hometown']))

The first number is 4 and the last number is 42
The person's first name is Jean-Luc and the person's last name is Picard. His hometown is La Barre, France